{{#eq type 'Stateless'}}
/**
 * Component
 * @param {object} props Incoming props
 * @returns {XML} Component
 */
const {{pascalCase name}}Component = ({  }) => (
  <{{pascalCase name}}>
    <p>{{pascalCase name}} Component</p>
  </{{pascalCase name}}>
);
{{/eq}}