import React from 'react';
import { Link } from 'gatsby';

import Layout from '@organisms/Layout';
import SEO from '@atoms/SEO';

const {{pascalCase name}}Page = () => (
  <Layout>
    <SEO title="{{pascalCase name}}" keywords={[`gatsby`, `application`, `react`]} />
    <h1>Hi people</h1>
    <p>Welcome to {{pascalCase name}}.</p>
    <p>Now go build something great.</p>
  </Layout>
);

export default {{pascalCase name}}Page;
